<div class="page-wrapper">
    <header class="p-3 d-flex justify-content-between">
        <div class="d-flex p-3">
            <h5 class="p-2">{{routeName}}</h5>
            <span class="p-2"> <i class="fa fa-angle-right"></i> </span>
            <span class="p-2">
                <p class="text-muted">QSE Banking App</p>
            </span>
        </div>
        <div class="p-3 d-flex">
            <div class="d-flex align-self-center px-3">
                <span class="px-2">
                    <i class="fa fa-comment"></i>
                </span>
                <span class="px-3 border-right">
                    <i class="fa fa-bell"></i>
                </span>
            </div>
            <div class="d-flex align-items-center">
                <span class="px-2">
                    <i class="fa fa-user fs-lg bg-purple"></i>
                </span>
                <span class="px-2">
                    <small class="text-bold">RONOS IT</small>
                </span>
                <span class="px-2">
                    <i class="fa fa-angle-down"></i>
                </span>
            </div>

        </div>
    </header>
    <div class="page-wrapper__content">
        <div class="page-wrapper__content-top d-flex justify-content-between">
            <div class="">
                <h5>GSE Banking app</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [style.width.%]="totalProgress" aria-valuemin="0"
                        aria-valuemax="100">
                    <span class="text-white">{{totalProgress}}</span>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <div class="p-2">
                    <div class="border-dashed">
                        <small class="px-2">
                            <i class="fa fa-plus text-muted"></i>
                        </small>
                        <small class="px-2 text-muted">
                            Invite
                        </small>
                    </div>
                </div>
                <div class="d-flex">
                    <img class="img-fluid img-rounded" src="assets/images/user003.jpeg" />
                    <img class="img-fluid img-rounded pos-relative pos-r__R2rem" src="assets/images/user003.jpeg" />
                    <img class="img-fluid img-rounded pos-relative pos-r__R4rem" src="assets/images/user003.jpeg" />
                </div>
            </div>
        </div>

        <div class="mt-3 d-flex justify-content-between">
            <div class="">
                <span class="d-flex">
                    <h6 class="">February &nbsp; 2022</h6> 
                    <span class=" d-flex justify-content-between">
                        <i class="px-2 fa fa-angle-left text-muted"></i>
                        <i class="px-2 fa fa-angle-right text-bold"></i>
                    </span> 
                </span>
            </div>
            <div class="d-flex">
                <span class="p-2">
                    <i class="px-3 fa fa-search"></i>
                </span>
                <span class="month-box mr-5">
                    <span class="px-3">Month</span>
                    <span class="px-3">
                        <i class="fa fa-angle-down"></i>
                    </span>
                </span>
            </div>
        </div>

        <div class="container p-0 m-0">
            <div class="wrapper">
                <div class="box box1">
                    <div class="nested1 text-center" *ngFor="let item of DaysArray;let i=index" [ngClass]="returnActive(item)">{{DayNameArray[i]}}<span
                            class="text-muted">{{item}}
                            <div class="vl" *ngIf="item === today"></div>
                        </span></div>
                </div>
                <div class="box box2">
                    <div class="nested">
                    </div>
                    <div class="nested">
                    </div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                    <div class="nested"></div>
                </div>
                <div class="box box4">
                    
                    <div class="w3-light-grey p-bar-2"
                        [style.--start]="item.start" [style.--end]="item.end"
                        [style.background-color]="item?.bgColor"
                        *ngFor="let item of progressBarArray;let i=index">
                        <div class="w3-grey d-flex justify-content-between" [style.width.%]="item.progress" [style.background-color]="item?.color">
                            <span class="d-flex align-items-center">
                               
                                <span class="px-2 text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32"
                                        viewBox="0 0 172 172" style=" fill:#000000;">
                                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                            stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                            text-anchor="none" style="mix-blend-mode: normal">
                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                            <g>
                                                <path
                                                    d="M86,14.33333c-39.58041,0 -71.66667,32.08626 -71.66667,71.66667c0,39.58041 32.08626,71.66667 71.66667,71.66667c39.58041,0 71.66667,-32.08626 71.66667,-71.66667c0,-39.58041 -32.08626,-71.66667 -71.66667,-71.66667z"
                                                    fill="#ecf0f1"></path>
                                                <path
                                                    d="M86,28.66667c-31.66433,0 -57.33333,25.66901 -57.33333,57.33333c0,31.66433 25.66901,57.33333 57.33333,57.33333c31.66433,0 57.33333,-25.66901 57.33333,-57.33333c0,-31.66433 -25.66901,-57.33333 -57.33333,-57.33333z"
                                                    fill="#ffffff"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </span>

                                <span class="px-2 text-white">
                                    {{item?.task}}
                                </span>
                            
                            </span>
                            <span class="px-2 text-white">{{item?.progress}}</span>    
                        </div>
                    </div>
                </div>

                <div class="box box3">
                    <div class="staff" *ngFor="let item of users">
                        <div class="d-flex">
                            <div class="d-flex flex-row">
                                <div class="d-flex align-items-center">
                                    <div class="img"></div>
                                    <div class="d-inline">
                                        <h6>{{item?.name}}</h6><small class="text-muted">{{item?.role}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-inline">
                            <i class="fa fa-ellipsis-v text-muted" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>